body {
    padding: 10px;
    align-content: center;
    background-color: red;
}
div {
    
    align-items: center;
    background-color: lightgray;
    height: 800px;
    border: 4px;
}
table {
    border: 2px;
}