<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheet/style.css"  />
    <script>
    function CreateTable(Table){
      var tables = "";
      console.log("Hello")
      Table.forEach(rectangle => {
         tables =+ "<tr><td>"+rectangle.id+"</td><td>"+rectangle.getName()
         +"</td><td>"+rectangle.getColor()+'</td><td><button value ="Edit Button" href="th:'
         +rectangle.getName()+'"></td></tr>';
      })
      document.getElementById("TheTable").append(tables)
  }</script>
</head>
<body><div>
<h1>Rectangles</h1>
<form action="#" method="post" th:action="@{/newrectangle}" th:object="${rectangles}">
  <table id="TheTable" onload='createTable("${rectangles}")'>
    <tr><th>ID</th><th>Name</th><th>Color</th><th></th></tr>
    
  </table>
  <br>
<input type="submit" value="New Rectangle"/>
</form>
</div>
</body>
</html>
