<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheet/style.css"  />
    <script src="./table.js"></script>
</head>
<body><div>
<h1>Rectangles</h1>
  <div id="TheTable">
    <h1>ID Name Color</h1>
    <ul th:each="rectangle : $rectangles">
      <li th:text="${rectangle}"></li>
    </ul>
  <br>
<a th:href="@{/newrectangle">New Rectangle</a>
</div>
</body>
</html>
